html, body {
    display:          block;
    box-sizing:       border-box;
    margin:           0px;
    border:           0px;
    padding:          0px;
    height:           100%;
    width:            100%;
    overflow:         hidden;
    background-color: black;
}

#GameArea {
    position: absolute;
    left:     50%;
    top:      50%;
}

#GameCanvas {
    width:  100%;
    height: 100%;
}

#StatsPanel {
    position: absolute;
    width:    100%;
    height:     8%;
    background-color: aquamarine;
    bottom:      0;
    opacity:   0.8;
}